certifi==2026.4.22 ; python_version >= "3.10" and python_full_version < "4.0.0"
charset-normalizer==3.4.7 ; python_version >= "3.10" and python_full_version < "4.0.0"
idna==3.13 ; python_version >= "3.10" and python_full_version < "4.0.0"
numpy==2.2.6 ; python_version >= "3.10" and python_version < "3.11"
numpy==2.4.4 ; python_version >= "3.12" and python_full_version < "4.0.0" or python_version == "3.11"
pandas==2.3.3 ; python_full_version >= "3.10.0" and python_full_version < "4.0.0"
psutil==6.1.1 ; python_full_version >= "3.10.0" and python_full_version < "4.0.0"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.10.0" and python_full_version < "4.0.0"
pytz==2024.2 ; python_full_version >= "3.10.0" and python_full_version < "4.0.0"
requests==2.33.1 ; python_version >= "3.10" and python_full_version < "4.0.0"
six==1.17.0 ; python_full_version >= "3.10.0" and python_full_version < "4.0.0"
tzdata==2026.2 ; python_full_version >= "3.10.0" and python_full_version < "4.0.0"
urllib3==2.7.0 ; python_version >= "3.10" and python_full_version < "4.0.0"
