astroid==3.1.0 ; python_full_version == "3.8.12"
attrs==23.2.0 ; python_full_version == "3.8.12"
certifi==2024.2.2 ; python_full_version == "3.8.12"
charset-normalizer==3.3.2 ; python_full_version == "3.8.12"
click==8.1.7 ; python_full_version == "3.8.12"
cognitive-complexity==1.3.0 ; python_full_version == "3.8.12"
colorama==0.4.6 ; python_full_version == "3.8.12" and (sys_platform == "win32" or platform_system == "Windows")
coverage[toml]==7.5.0 ; python_full_version == "3.8.12"
eradicate==2.3.0 ; python_full_version == "3.8.12"
exceptiongroup==1.2.1 ; python_full_version == "3.8.12"
flake8-annotations-complexity==0.0.8 ; python_full_version == "3.8.12"
flake8-annotations==3.0.1 ; python_full_version == "3.8.12"
flake8-bugbear==24.4.26 ; python_full_version == "3.8.12"
flake8-builtins==2.5.0 ; python_full_version == "3.8.12"
flake8-cognitive-complexity==0.1.0 ; python_full_version == "3.8.12"
flake8-comprehensions==3.14.0 ; python_full_version == "3.8.12"
flake8-docstrings==1.7.0 ; python_full_version == "3.8.12"
flake8-eradicate==1.5.0 ; python_full_version == "3.8.12"
flake8-functions==0.0.8 ; python_full_version == "3.8.12"
flake8-literal==1.4.0 ; python_full_version == "3.8.12"
flake8-multiline-containers==0.0.19 ; python_full_version == "3.8.12"
flake8-newspaper-style==0.4.3 ; python_full_version == "3.8.12"
flake8-pie==0.16.0 ; python_full_version == "3.8.12"
flake8-plugin-utils==1.3.3 ; python_full_version == "3.8.12"
flake8-print==5.0.0 ; python_full_version == "3.8.12"
flake8-pytest-style==1.7.2 ; python_full_version == "3.8.12"
flake8-pytest==1.4 ; python_full_version == "3.8.12"
flake8-secure-coding-standard==1.4.1 ; python_full_version == "3.8.12"
flake8-string-format==0.3.0 ; python_full_version == "3.8.12"
flake8-unused-arguments==0.0.13 ; python_full_version == "3.8.12"
flake8-warnings==0.4.1 ; python_full_version == "3.8.12"
flake8==7.0.0 ; python_full_version == "3.8.12"
freezegun==1.5.0 ; python_full_version == "3.8.12"
idna==3.7 ; python_full_version == "3.8.12"
iniconfig==2.0.0 ; python_full_version == "3.8.12"
mccabe==0.7.0 ; python_full_version == "3.8.12"
mr-proper==0.0.7 ; python_full_version == "3.8.12"
numpy==1.24.4 ; python_full_version == "3.8.12"
packaging==24.0 ; python_full_version == "3.8.12"
pandas==1.5.3 ; python_full_version == "3.8.12"
pluggy==1.5.0 ; python_full_version == "3.8.12"
pycodestyle==2.11.1 ; python_full_version == "3.8.12"
pydocstyle==6.3.0 ; python_full_version == "3.8.12"
pyflakes==3.2.0 ; python_full_version == "3.8.12"
pytest-cov==5.0.0 ; python_full_version == "3.8.12"
pytest==8.2.0 ; python_full_version == "3.8.12"
python-dateutil==2.9.0.post0 ; python_full_version == "3.8.12"
python-dotenv==1.0.1 ; python_full_version == "3.8.12"
pytz==2023.4 ; python_full_version == "3.8.12"
requests==2.31.0 ; python_full_version == "3.8.12"
setuptools==69.5.1 ; python_full_version == "3.8.12"
six==1.16.0 ; python_full_version == "3.8.12"
snowballstemmer==2.2.0 ; python_full_version == "3.8.12"
stdlib-list==0.10.0 ; python_full_version == "3.8.12"
tomli==2.0.1 ; python_full_version == "3.8.12"
typing-extensions==4.11.0 ; python_full_version == "3.8.12"
urllib3==2.2.1 ; python_full_version == "3.8.12"
